<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2024. Made by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        {% if settings.code  %}
        •
        <a href="{{settings.code}}" class="underline" target="_blank" rel="noopener">View Source Code</a>
        {% endif %}
        
    </small>
</footer>
<footer class="w-full border-t bg-gray-800 mt-20">
    <div class="container mx-auto py-8">
      <div class="flex flex-col items-center">
        <div class="sm:w-2/3 text-center py-6">
          <p class="text-sm text-gray-400 font-bold mb-2">
            Copyright © 2024 by {{settings.name}}
            {% if settings.code  %}
            •
            <a href="{{settings.code}}" class="underline" target="_blank" rel="noopener">View Source Code</a>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </footer>
